:root {
    --border-color: rgb(110, 0, 0); /* Define uma variável CSS para a cor da borda */
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    background-color: var(--border-color);
    padding: 20px; /* Adiciona preenchimento interno ao cabeçalho */
    text-align: center; /* Alinha o texto do cabeçalho ao centro */
    font-family: "Dancing Script", sans-serif; /* Define a fonte do texto do cabeçalho */
    font-size: larger; /* Define o tamanho da fonte do texto do cabeçalho */
  }
  
  header a{
    text-decoration: none;
    color: white;
  }

.alinhamento {
  display: flex; /* Define um contêiner flexível para alinhar elementos filhos */
}

nav {
  width: 100%; /* Define a largura da navegação como 100% do contêiner pai */
  height: 50px; /* Define a altura da navegação como 50 pixels */
}

.alinhamento nav.desktop ul {
  display: flex; /* Define um contêiner flexível para a lista não ordenada da navegação */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: space-between; /* Distribui uniformemente os itens ao longo do eixo principal com espaçamento entre eles */
  list-style-type: none; /* Remove os marcadores de lista padrão */
  padding: 0 2%; /* Adiciona preenchimento horizontal à lista */
}

.alinhamento nav.desktop ul li {
  display: flex; /* Define um contêiner flexível para os itens da lista */
  list-style-type: none; /* Remove os marcadores de lista padrão */
}

.alinhamento nav.desktop li a {
  gap: 4rem; /* Define o espaçamento entre os elementos âncora */
  text-decoration: none; /* Remove a decoração de texto sublinhado dos links */
  color: var(--border-color); /* Define a cor do texto dos links usando a variável de cor */
}

.alinhamento nav.desktop a:hover {
  color: red; /* Define a cor do texto dos links ao passar o mouse sobre eles */
}

.borda {
    border-width: 5px; /* Define a largura da borda */
    border-style: double; /* Define o estilo da borda como duplo */
    border-color: var(--border-color); /* Define a cor da borda usando a variável de cor */
}

td {
    font-size: 20px;
    vertical-align: top; 
}
th {
    font-size: 30px;
}
th, td {
    border-collapse: collapse;
    padding: 10px; 
}
.imgs {
    display: flex;
    justify-content: space-around; 
    margin-top: 20px;
}

.imgfuncionario{
    padding: 10px;
    height: 350px;
    width: 390px;
}

.imgestoque{
    padding: 10px;
    height: 350px;
    width: 390px;
    margin-left: 90px;
}

.imgvinheria{
    padding: 10px;
    margin-left: 90px;
}

#footer {
    text-align: center; /* Alinha o texto do rodapé ao centro */
    font-size: small; /* Define o tamanho da fonte do texto do rodapé */
    color: var(--border-color);
    background-color: rgba(255, 0, 0, 0.089);
    height: 160px;
  }

  .fonte{
    font-family: 'Open Sans';
    font-size: 20px;
  }
  
  .dance{
    font-family: "Dancing Script", sans-serif;
    text-align: center;
    color: var(--border-color);
    font-size: 38.4px;
  }

  article {
    padding: 0px 300px 50px 300px;
  }